<div class="image">
    <!-- <img src="./assets/images/image3.jpg" alt="Paris" width="300" height="300"> -->
    <h1 style="text-align: center;">ABOUT</h1>
    <hr>
    <p>Moments is the annual civil engineering
         symposium of NIT Trichy. With a multitude of events 
         and workshops, it offers a platform for budding engineers to
          showcase their potential and explore the latest dimensions with
           eminent academicians and industrial experts. This year with the theme 
           "Sustainability" Moments is all set for another expedition around the world of
            latest technology and engineering. </p>
            <div class="heading">
                <h3>WEBSITE DESIGNER AND MAKER</h3>
            </div>
           
    <figure>
        <p><img class=scaled style="text-align: center;" src="./assets/images/image3.jpg"
          alt="St. Tropez">
        <figcaption>Abhinav Singh</figcaption>
          <figcaption>4th year Civil Enginnering student</figcaption>
             
          </p>
      </figure>
      <div class="heading">
        <h3>CIVIL ENGINEERING ASSOCIATION MEMBERS</h3>
    </div>
      <div class="row"style="display: flex;">
      <figure>
        <p><img class=scaled style="text-align: center;" src="./assets/images/image3.jpg"
          alt="St. Tropez">
        <figcaption>Saint Tropez and its
          fort in the evening sun</figcaption>
          <figcaption>Saint Tropez and its
            fort in the evening sun</figcaption>
          </p>
      </figure>
      <figure>
        <p><img class=scaled style="text-align: center;" src="./assets/images/image3.jpg"
          alt="St. Tropez">
        <figcaption>Saint Tropez and its
          fort in the evening sun</figcaption>
          <figcaption>Saint Tropez and its
            fort in the evening sun</figcaption>
          </p>
      </figure>
      <figure>
        <p><img class=scaled style="text-align: center;" src="./assets/images/image3.jpg"
          alt="St. Tropez">
        <figcaption>Saint Tropez and its
          fort in the evening sun</figcaption>
          <figcaption>Saint Tropez and its
            fort in the evening sun</figcaption>
          </p>
      </figure>
      </div>
    </div>