

<mat-toolbar  class="navbar">

  
    <div class="topnav">
      <a  routerLink="/Home" routerLinkActive="active">Home</a>
      <a routerLink="/Placementscompanies" routerLinkActive="active">Placements Diaries</a>
      <a routerLink="/Gate" routerLinkActive="active">Gate Diaries</a>
      <a routerLink="/Foreign" routerLinkActive="active">Foreign Diaries</a>
     
      <a routerLink="/About" routerLinkActive="active">About</a>
      <a routerLink="/Login" routerLinkActive="active">Login</a>
      <a routerLink="/Insertdata" routerLinkActive="active">Insertdata</a>
    </div>
    </mat-toolbar>
    