<!-- <div class="content">
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Mountains {{num}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/image8.jpg">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div> -->
<!--function is to shows all company icon -->
<div class="box">
    <!-- <ng-container *ngFor="let user of users"> -->
    <!-- <div class="container1"> -->
    
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="grid">
          <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
        
            <mat-card class="mat-elevation-z4 example-card" *ngIf="num==1">
             
              <img mat-card-image src="/assets/companylogo/accenture.png">
            
              <mat-card-actions>
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Accenture']" >Read more...</a></button>
              </mat-card-actions>
            </mat-card>
      
        
            <mat-card class="mat-elevation-z4 example-card" *ngIf="num==2" >
            
              <img mat-card-image src="/assets/companylogo/adp.png">
            
              <mat-card-actions>
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','ADP']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
         
            <mat-card class="example-card" *ngIf="num==3" >
              <img mat-card-image src="/assets/companylogo/bridgei2i.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Bridgei2i']" >Read more...</a></button>
               
               
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" *ngIf="num==4" >
              <img mat-card-image src="/assets/companylogo/byju.jpg"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Byjus']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" *ngIf="num==5" >
              <img mat-card-image src="/assets/companylogo/deloitte.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Deloitte']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
  
            <mat-card class="example-card" *ngIf="num==6" >
              <img mat-card-image src="/assets/companylogo/exxonmobil.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Exxonmobil']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" *ngIf="num==7" >
              <img mat-card-image src="/assets/companylogo/gs.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Goldmansachs']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
  
            <mat-card class="example-card" *ngIf="num==8">
              <img mat-card-image src="/assets/companylogo/infosys.jpg"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Infosys']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
           
            
  
            <mat-card class="example-card" *ngIf="num==9">
              <img mat-card-image src="/assets/companylogo/intellipaat.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Intellipaat']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
           
  
            <mat-card class="example-card" *ngIf="num==10">
              <img mat-card-image src="/assets/companylogo/iqvia.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','IQVIA']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" *ngIf="num==11" >
              <img mat-card-image src="/assets/companylogo/itdcementation.jpg"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Itdcementation']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
  
            <mat-card class="example-card" *ngIf="num==12">
              <img mat-card-image src="/assets/companylogo/l&t.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Landt']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
  
            <mat-card class="example-card" *ngIf="num==13">
              <img mat-card-image src="/assets/companylogo/mbblabs.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Maybank']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
           
            
  
            <mat-card class="example-card" *ngIf="num==14">
              <img mat-card-image src="/assets/companylogo/scaleracademy.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Scaleracademy']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
           
  
            <mat-card class="example-card" *ngIf="num==15" >
              <img mat-card-image src="/assets/companylogo/tataproject.png"  alt="Photo of a Shiba Inu">
             
              <mat-card-actions class="cardbutton">
                <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Tataproject']" >Read more...</a></button>
               
              </mat-card-actions>
            </mat-card>
  
    <mat-card class="example-card" *ngIf="num==16">
      <img mat-card-image src="/assets/companylogo/tcs.jpg"  alt="Photo of a Shiba Inu">
     
      <mat-card-actions class="cardbutton">
        <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','TCS']" >Read more...</a></button>
       
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="example-card" *ngIf="num==17">
      <img mat-card-image src="/assets/companylogo/tcsre.jpg"  alt="Photo of a Shiba Inu">
     
      <mat-card-actions class="cardbutton">
        <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Tcsinnovators']" >Read more...</a></button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="example-card" *ngIf="num==18">
      <img mat-card-image src="/assets/companylogo/wipro.png"  alt="Photo of a Shiba Inu">
     
      <mat-card-actions class="cardbutton">
      
        <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','Wipro']" >Read more...</a></button>
                 
      </mat-card-actions>
    </mat-card>
   
    <mat-card class="example-card" *ngIf="num==19">
      <img mat-card-image src="/assets/companylogo/wsp.png"  alt="Photo of a Shiba Inu">
     
      <mat-card-actions class="cardbutton">
        <button mat-raised-button color="accent" > <a style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','WPS']" >Read more...</a></button>
       
      </mat-card-actions>
    </mat-card>
   

          </div>
        </div>
        </div>
      
      <div class="byrole">
<h2 style="text-align: center;"><b>Read by Company Type and Role</b></h2>
<hr>
        <section>
          <div class="example-label"><b>1. Core</b></div>
          <div class="example-button-row">
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >EXXON MOBIL</a></button>
            <!-- <button mat-raised-button color="primary"> <a href="https://www.google.com/" ></a>EXXON MOBIL</button> -->
         
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','ITD Cementation']" >ITD Cementation</a></button>
          
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','L & T']" >L & T</a></button>
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;"  [routerLink]="['/Placementscompanies','tata projects limited']" >Tata Project</a></button>
            <!-- <button mat-raised-button color="primary"> <a href="https://www.google.com/" ></a>Tata Project</button> -->
           
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >WSP</a></button>
            <!-- <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
          </div>
        </section>

        <section>
          <dt><b>2. Non-Core</b></dt>
          <dd><b> i) Analyst</b></dd>
          <dd> 
          <div class="example-button-row">
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Deloitte</a></button>
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Goldman Sachs</a></button>
            <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >IQVIA</a></button>
           
           
          </div>
        </dd>

        <dd><b> ii) Coding/IT</b></dd>
        <dd> 
        <div class="example-button-row">
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Accenture</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >ADP</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >BRIDGEi2i</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Infosys</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >IQVIA</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >MayBank</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >TCS</a></button>
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','TCS Innovator']" >TCS Innovation</a></button>
        
        </div>
      </dd>
        <dd><b>iii) Teaching</b></dd>
        <dd> 
        <div class="example-button-row">
          <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >BYJU'S</a></button>
        
        </div>
      </dd>
      
    <dd><b>vi) Sales</b></dd>
    <dd> 
    <div class="example-button-row">
      <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Intellipaat</a></button>
      <button mat-raised-button color="primary" > <a  style="text-decoration:none; color:inherit;" [routerLink]="['/Placementscompanies','exxon mobil']" >Scaler Academy</a></button>
      
      
    </div>
  </dd>
        </section>

      

     
     
    </div>
      <!-- end of 5th row -->
    <!-- </div> -->
    
 <!-- </ng-container> -->
    
  
  </div>        