.content {
  padding: 16px;
}



.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
  
  .box{
     
      background-image: url(/assets/images/image8.jpg);  
      border-radius: 10px;
       margin-top:64px;
       /* display: block; */
  }
  /* 
  .container1{
      background-image: url(/assets/images/image16.jpg);
      border-radius: 20px;
      /* color:white; */
      /* top: auto; */
      /* margin-top: 120px; */
      /* margin-left: 150px;
      margin-right: 150px; */
      /* margin:60px; */
      /* padding: 15px; */
      /* width: 100%; */
      /* width: 80%;
      text-align: center;
      margin: auto;
     
  } */
 
  .box button{

    margin: 10px;
   
  }
 

/* .example-card {
  
} */

.example-header-image {
  /* background-image: url('/assets/companylogo/tcsre.jpg'); */
  background-size: cover;
}
.row{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.example-card{
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover;
 border-radius: 20px;
 text-align: center;
 max-width: 350px;
color: white;
}
.example-card img{
height: 120px;
width: 220px;
}
.byrole{
  background-color:white;
  margin-left:  30px; 
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px;
  
}