.field{
    width: 100%;
}
.card{
    width:40%;
    margin: auto;
    background:lightblue;
    padding: 20px;
    border-radius: 20px;
}
.container{
    margin-top: 60px;
}
.card h1{
    text-align: center;
}
.text-center{
    text-align: center;
}
.card button{
    margin: 10px;
}